@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
  font-family: 'Ultra', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.police-glow::before,
.police-glow::after {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  background-image: conic-gradient(
    from var(--angle),
    #006aff,
    #ff0040,
    #e4afaf
  );
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

/* Animate only on hover */
.group:hover .police-glow::before,
.group:hover .police-glow::after {
  animation: spin-conic 0.2s linear infinite;
  opacity: 10;
  filter: blur(0.8rem);

}

/* Keyframes */
@keyframes spin-conic {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.fire-glow::before,
.fire-glow::after {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  background-image: conic-gradient(
    from var(--angle),
    #ffd147,
    #f63925,
    #323433
  );
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

/* Animate only on hover */
.group:hover .fire-glow::before,
.group:hover .fire-glow::after {
  animation: spin-conic 0.2s linear infinite;
  opacity: 10;
  filter: blur(0.8rem);

}

/* Keyframes */
@keyframes spin-conic {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.citizen-glow::before,
.citizen-glow::after {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  background-image: conic-gradient(
    from var(--angle),
    #2563eb,
    #10b981,
    #ffff
  );
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

/* Animate only on hover */
.group:hover .citizen-glow::before,
.group:hover .citizen-glow::after {
  animation: spin-conic 0.3s linear infinite;
  opacity: 10;
  filter: blur(0.7rem);

}

/* Keyframes */
@keyframes spin-conic {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.medical-glow::before,
.mdeical-glow::after {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  background-image: conic-gradient(
    from var(--angle),
    #dc2626,
    #3b82f6,
    #14b8a6
  );
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

/* Animate only on hover */
.group:hover .medical-glow::before,
.group:hover .medical-glow::after {
  animation: spin-conic 0.3s linear infinite;
  opacity: 10;
  filter: blur(0.8rem);

}

/* Keyframes */
@keyframes spin-conic {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

